<table>
  <tbody>
    <tr>
      <th>User ID: &emsp;</th>
      <td>{{id}}</td>
    </tr>
    <tr>
      <th>User name: &emsp;</th>
      <td>{{name}}</td>
    </tr>
    <tr>
      <th>Company: &emsp;</th>
      <td>{{company.name}}</td>
    </tr>
  </tbody>
</table>